
body {
    /* https://coolors.co/generate and click export -> scss to get the colors to copy and paste below*/
    /* --color1: hsla(349, 69%, 76%, 1);
    --color2: hsla(207, 67%, 44%, 1);
    --color3: hsla(200, 61%, 56%, 1);
    --color4: hsla(187, 41%, 94%, 1);
    --color5: hsla(170, 28%, 95%, 1); */

    --color1: rgb(250, 215, 111);
    --color2: rgb(248, 241, 201);
    --color3: rgb(245, 167, 186);
    --color4: hsla(45, 73%, 98%, 1);
    --color5: rgb(241, 194, 206);
    
    --header-height: 80px;
    --gutter: 30px;
    --footer-height: 25px;
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: var(--color2);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: calc(var(--footer-height));
}

section {
    background-color: var(--color5);
    width: 100%;
    max-width: 80%;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    margin-top: var(--gutter);
    margin-bottom: var(--gutter);
    border: solid 4px var(--color1);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color3);
    height: var(--header-height);
    border: 3px solid var(--color1);
    font-size: 30px;
}

footer {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}


h2 {
    font-size: 1.8rem;
    font-weight: bold;
}

img {
    width: 200px;
}

input{
    display: none;
}

input:checked + img {
    border: 3px solid cyan;
}
